<!-- templates/pages/contact_succes.html -->
 {% extends 'index.html' %}

{% block title %}Message Envoyé{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center py-5">
                <i class="bi bi-check-circle-fill text-success" style="font-size: 4rem;"></i>
                <h1 class="display-5 mt-4">Merci, {{ nom }} !</h1>
                <p class="lead">
                    Votre message a été envoyé avec succès. Notre équipe vous répondra dans les plus brefs délais.
                </p>
                <hr class="my-4">
                <p>
                    Vous pouvez retourner à <a href="/">la page d'accueil</a> ou <a href="/contact">nous envoyer un autre message</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
